body
{
    background-color: aqua;
}
.form-desc
{
    width: 50%;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-top: 4%;
    padding: 2%;
    border: 1px solid grey;
    border-radius: 16px;
}